body {
  background: slategray;
  text-align: center;
}
h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
  color: navy;
}
input {
  border: none;
}
ul {
  flex: auto;
  list-style-type: none;
  background: lightsteelblue;
}
.dueDate {
  font: 0.625em bold;
  text-align: center;
  color: black;
  background-color: transparent;
}
.todo {
  background-color: rgb(222, 223, 223);
  /* border: 2px solid rgb(163, 159, 159); */
}
.items > li {
  border: none;
  margin: 5px;
  font: 1.75em bold;
  color: mediumseagreen;
}
.dueBy {
  font: 0.625em bold;
  color: black;
}
.submit {
  background-color: transparent;
  border: none;
  font-weight: 900;
}
.close {
  background-color: transparent;
  border: none;
}
