body {
  width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: auto;
  background: slategray;
}
.completed {
  text-decoration: line-through;
  color: lightslategray;
}
.container1 {
  background: rgba(0, 0, 128, 0.034);
}
h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
  color: lightgoldenrodyellow;
}
input {
  border: none;
}
ul {
  list-style-type: none;
  font: 1.75em bold;
  color: mediumseagreen;
  background: lightsteelblue;
  text-align: center;
}
li {
  text-align: left;
  display: flex; 
}
.dueDate {
  font: 0.625em bold;
  text-align: center;
  color: black;
  background-color: transparent;
}
.todo {
  background-color: rgb(222, 223, 223);
}
.dueBy {
  font: 0.625em bold;
  color: black;
}
.submit {
  background-color: transparent;
  border: none;
  font-size: 1.25em;
  font-weight: bold;
}
.close {
  background-color: transparent;
  border: none;
}
.clearAll {
  color: darkslateblue;
  border: none;
  font-weight: bolder;
  background-color: transparent;
  margin-top: 2ex;
  padding-right: 325px;
}


.checkbox { 
  margin: auto 10px auto 10px; 
}